[Unit]
Description=Main service for Resistance
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/resistance-overwatch

[Install]
WantedBy=multi-user.target

